NODE_ENV=production
PORT=3001
DATABASE_URL=postgres://postgres:SUA_SENHA@HOST_INTERNO:5432/pixelize?sslmode=disable
JWT_SECRET=gere_uma_chave_forte_aqui_min_32_chars
FRONTEND_URL=https://seu-dominio.com
UPLOAD_DIR=./uploads
MAX_FILE_SIZE=5242880
